body{
    background-color: #2d2962;
}

#texto_navbar{
    color: antiquewhite; 
}

#navbarDropdown{
    color: antiquewhite;
}

#idusuario{
    color: antiquewhite;
    padding-block-end: initial;
}

/* From cssbuttons.io */
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 10rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin-left: 10px;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }

#idRecuadroP{
    background-color: #6c649f;
    font-size: 1.1em;
    padding: 1em 1.5em;
    margin: 10px 0 25px;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 5%;
    width: 55%;
    height: 70vh;
    border-radius: 2%;
    box-shadow: 0 8px 17px 2px rgb(0 0 0 / 30%), 0 3px 14px 2px rgb(0 0 0 / 30%), 0 5px 5px -3px rgb(0 0 0 / 30%);
    display: inline-block;
}

#idRecuadroS{
    background-color: #6c649f;
    font-size: 1.1em;
    padding: 1em 1.5em;
    margin: 10px 0 25px;
    margin-top: 3%;
    margin-right: 3%;
    width: 30%;
    height: 70vh;
    border-radius: 3%;
    display: inline-block;
    box-shadow: 0 8px 17px 2px rgb(0 0 0 / 30%), 0 3px 14px 2px rgb(0 0 0 / 30%), 0 5px 5px -3px rgb(0 0 0 / 30%);
}

/* From cssbuttons.io by @Sujitkavaiya */
.card {
    margin: 15px auto;
    width: 55vh;
    height: 25vh;
    background: #797dab;
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(45, 41, 98) 0.2em solid;
   }
   
   .card:hover {
    border: #34348c 0.2em solid;
   }