body{
    background-color: #2d2962;
}

#texto_navbar{
    color: antiquewhite; 
}

#navbarDropdown{
    color: antiquewhite;
}

#idusuario{
    color: antiquewhite;
    padding-block-end: initial;
}

#idBoton{
    color: black;
    background-color: #cb242c;
}
